Xft.dpi: 192

!! Appearance
urxvt.termName: rxvt-unicode-256color
urxvt.scrollBar: false
!! Font prefferenes
urxvt.font: xft:Ubuntu Mono:pixelsize=40
urxvt.boldFont: xft:Ubuntu Mono:pixelsize=40:weight=bold
!!urxvt.letterSpace: -1
urxvt.saveLines: 1000000

! !! Perl extensions
! urxvt.perl-ext-common: default,matcher,font-size
! !!URxvt.clipboard.autocopy: true
! !!URxvt.keysym.M-c: perl:clipboard:copy
! !!URxvt.keysym.M-v: perl:clipboard:paste
! !! Open urls in browser with Control-Click
! urxvt.urlLauncher: /usr/bin/brave-browser
! urxvt.matcher.button: C1
! !! Change font size on Control-Plus/Minus
! URxvt.keysym.Control-0x2b: perl:font-size:increase
! URxvt.keysym.Control-0x2d: perl:font-size:decrease

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1


! Tango color palette
URxvt*background:         #2e3436
URxvt*foreground:         #eeeeec
URxvt*cursorColor:        #8ae234
! foreground color for underline
URxvt*colorUL:            #8ae234
! line color for underline
URxvt*underlineColor:     #92659a
! black dark/light
URxvt*color0:             #2e3436
URxvt*color8:             #6e706b
! red dark/light
URxvt*color1:             #cc0000
URxvt*color9:             #ef2929
! green dark/light
URxvt*color2:             #4e9a06
URxvt*color10:            #8ae234
! yellow dark/light
URxvt*color3:             #edd400
URxvt*color11:            #fce94f
! blue dark/light
URxvt*color4:             #3465a4
URxvt*color12:            #729fcf
! magenta dark/light
URxvt*color5:             #92659a
URxvt*color13:            #c19fbe
! cyan dark/light
URxvt*color6:             #07c7ca
URxvt*color14:            #63e9e9
! white dark/light
URxvt*color7:             #d3d7cf
URxvt*color15:            #eeeeec

